@import 'core/reset.scss';
body{
    background-color: grey;
}

.form {
    display: flex;
    flex-direction: column;

    &__input {
        width: 30%;
        margin: 5px 0px 10px 0px;
    }
}
.charactersList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 20rem 1fr;
    }
}

li {
    list-style: none;
}
.card {
    height: 200px;
    
}

.cards {
    //height: 200px;
    //width: 200px;    
}
