@import 'core/reset.scss';
body{
    background-color: grey;
}


.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;

    &__input {
        width: 30%;
        margin: 5px 0px 10px 0px;
    }
}
.charactersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 20rem 1fr;
    }
}

.li {
    list-style: none;
    margin-bottom: 20px;
    text-decoration: none;
}

.back {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    padding-left: 540px;
}
.container {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 600px;
    color: aliceblue;
    background-color: rgb(117, 42, 42);
    
  &__detail {
    height: 300px;
    width: 200px;
    margin: 0px 20px;
    object-fit: cover;
    border: solid 5px goldenrod;
    border-radius: 5px;

    &--name {
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
        line-height: 2.5;
    }
    
    &--text {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 1.5;
    }
    
  }  
}

.house {
    display: flex;
    flex-direction: row;
}
.emblem {
    height: 30px;
    margin-left: 5px;
}

.card {
    height: 200px;
    width: 150px;
    margin: 0px 20px;
    object-fit: cover;
    border: solid 5px goldenrod;
    border-radius: 5px;
}
.charDesc {
    //margin-left: 20px;
    text-align: center;
    text-decoration: none;
}


