@import 'core/reset.scss';
body{
    background-color: grey;
}


.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;

    &__input {
        width: 30%;
        margin: 5px 0px 10px 0px;
    }
}
.charactersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 20rem 1fr;
    }
}

.li {
    list-style: none;
    margin-bottom: 20px;
}
.card {
    height: 200px;
    width: 150px;
    margin: 0px 20px;
    object-fit: cover;
    border: solid 5px goldenrod;
    border-radius: 5px;
}
.charDesc {
    margin-left: 20px;
    text-align: center;
}


